<%- include('../partials/header') %>


  <% trails.forEach(function(t) { %>
  <div class="text-center col-sm-12 col-md-6 col-lg-9" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title"><%= t.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= t.location %></h6>
      <p class="card-text">Distance: <%= t.distance %> km</p>
      <p class="card-text">Difficulty: <%= t.difficulty %></p>
      <a href="/trails/<%= t._id %>" class="btn btn-primary">Trail Info</a>
    </div>
  </div>
  <% }); %>

<%- include('../partials/footer') %>
