<%- include('../partials/header') %>
<form action="/favourites" method="POST">
<section>
  <div>Trail</div>
  <div><%= trail.title %></div>

  <div>Location</div>
  <div><%= trail.location %></div>

  <div>Distance</div>
  <div><%= trail.distance %></div>

  <div>Difficulty</div>
  <div><%= trail.difficulty %></div>
  <button type="submit" class="btn btn-primary">Add to Favs</button>
</section>
</form>

<br /><br />
<h2>Comments</h2>

<% if(user) { %>
<form method="POST" action="/trails/<%= trail._id %>/comments">
  <div class="mb-3">
    <textarea class="form-control" name="content"></textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Challenge Level:</label>
    <select class="form-select" name="challengeLvl" required>
      <option selected disabled value="">Choose...</option>
      <option value="🟢">Easy</option>
      <option value="🟡">Moderate</option>
      <option value="🟠">Challenging</option>
      <option value="🔴">Experienced</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Add Comment</button>
</form>
<% } else { %>
<p>Login to add Comments</p>
<% } %>

<br />

<% if (trail.comments.length) { %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Personal Challenge Level</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% trail.comments.forEach(function(c) { %>
    <tr>
      <td class="">
        <img src="<%= c.userAvatar%>" referrerpolicy="no-referrer" alt="User Avatar" />
        <%=c.userName%>
      </td>
      <td><%= c.createdAt.toLocaleDateString() %></td>
      <td><%= c.challengeLvl %></td>
      <td><%= c.content %></td>
      <td>
        <% if (user && user.equals(c.user)) { %>
        <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
        <% } %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } %> <%- include('../partials/footer') %>
