<%- include('../partials/header') %>

<section id="">
  <div>Trail</div>
  <div><%= trail.title %></div>

  <div>Location</div>
  <div><%= trail.location %></div>

  <div>Distance</div>
  <div><%= trail.distance %></div>

  <div>Difficulty</div>
  <div><%= trail.difficulty %></div>
</section>

<br /><br />
<h2>Comments</h2>



<%- include('../partials/footer') %>
