<%- include('../partials/header') %>
  <div class="text-center">
    <section>
      <div class="col-sm-6 col-lg-4 col-xl-3 mb-4 mx-auto">
        <div class="column">
          <div class="card">
            <div name="trail">
              <%= trail.title %>
            </div>
            <div>
              <%= trail.location %>
            </div>
            <div name="distance">
              <%= trail.distance %> KM
            </div>
            <div>Difficulty Level</div>
            <div name="difficulty">
              <%= trail.difficulty %>
            </div>
            <% if(user) { %>
              <input type="submit" class="btn btn-primary" value="Add to Favourites"
                onclick="window.location.href='/favourites/new'" />
              <% } %>
    </section>
  </div>
  </div>
  </div>
  </div>

  <br />
  <h2 class="text-center">Comments</h2>

  <% if(user) { %>
    <div class="w-50  mx-auto">
      <form method="POST" action="/trails/<%= trail._id %>/comments">
        <textarea class="form-control" name="content"></textarea>


        <div class="mb-3">
          <label class="form-label">Challenge Level:</label>
          <select class="form-select" name="challengeLvl" required>
            <option selected disabled value="">Choose...</option>
            <option value="🟢">Easy</option>
            <option value="🟡">Moderate</option>
            <option value="🟠">Challenging</option>
            <option value="🔴">Experienced</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </div>
    </form>

    <% } else { %>
      <p>Login to add Comments</p>
      <% } %>

        <br />

        <% if (trail.comments.length) { %>
          <section style="background-color: #305535">
            <% trail.comments.forEach(function(c) { %>
              <div class="container my-5 py-5 text-dark">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-11 col-lg-9 col-xl-7">
                    <div class="d-flex flex-start mb-4">
                      <img class="rounded-circle shadow-1-strong me-3" src="<%= c.userAvatar%>"
                        referrerpolicy="no-referrer" alt="avatar" width="65" height="65" />
                      <div class="card w-100">
                        <div class="card-body p-4">
                          <div class="">
                            <h5>
                              <%=c.userName%>
                            </h5>
                            <p class="small">
                              <%= c.createdAt.toLocaleDateString() %>
                            </p>
                            <p>
                              <%= c.content %>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center">
                                <p class=""><i class="fas fa-thumbs-up me-1"></i>Difficulty: <%= c.challengeLvl %>
                                    </>
                                </p>
                              </div>
                              <% if (user && user.equals(c.user)) { %>
                                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                  <button class="fas fa-reply me-1" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                      class="bi bi-trash" viewBox="0 0 16 16">
                                      <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                      <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                  </button>
                                </form>
                                <% } %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
          </section>


          <% } %> <%- include('../partials/footer') %>